services:
  db:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: fareflow
      MYSQL_ROOT_PASSWORD: Inder-101
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-pInder-101"]
      interval: 5s
      timeout: 5s
      retries: 20

  app:
    image: fleet-manager-be:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/fareflow?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Inder-101
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

volumes:
  mysql_data:
